
a {
    text-decoration: none;
    color: black;
  }
  
  .main-section {
    width: auto;
    height: 80vh; 
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 13px;
    background-color: #fff;
    padding: 20px 40px 0px;
    box-shadow: 0px 5px 15px rgba(41, 41, 44, 0.2);
  }
  
  .mode-container {
    transition: 0.3s ease-in-out;
  }
  
  .mode-part span {
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .mode-container .mode-part {
    width: 1000px;
    height: 54px;
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--orange);
    gap: 10px;
  }
  
  .mode-part .text {
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  
  .mode-part button {
    padding: 8px 16px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    border-radius: 22px;
    border: 2px solid var(--orange);
    background-color: var(--orange);
    cursor: pointer;
  }
  
  .mode-part button:hover {
    background-color: #fff;
  }
  
  .mode-part .box-1 {
    width: 100px;
    outline: none;
    cursor: auto;
  }
  
  .mode-part input {
    cursor: pointer;
  }
  
  .mode-part label {
    font-size: 15px;
    font-weight: 600;
  }
  
  .upload-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
  }
  
  .upload-section .left-side {
    width: 500px;
    height: 443px;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--orange);
    border-top: none;
    overflow: auto;
  }
  
  .upload-section .right-side {
    width: 500px;
    height: 443px;
    margin-left: -1px;
    border: 1px solid var(--orange);
    border-top: none;
    border-left: none;
    overflow: auto;
  }
  
  .upload-doc {
    position: relative;
    top: 80px;
    padding: 31px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid var(--orange);
    border-radius: 20px;
    cursor: pointer;
  }
  
  .upload-doc .icon {
    display: flex;
    margin-top: 13px;
    margin-left: 33%;
    font-size: 17px;
  }
  
  .keywords .word-sent {
    margin-left: 7px;
    display: flex;
    gap: 12px;
    font-size: 15px;
    font-weight: 700;
    color: black;
  }
  
  .icons-sent-container {
    width: 483px;
    height: 60px;
    position: relative;
    bottom: 174px;
    left: 50%;
    margin-left: 1px;
    display: flex;
    justify-content: space-between;
    gap: 58px;
    background-color: #fff;
  }
  
  .icons-sent-container .sent-word {
    display: flex; 
    align-items: center; 
    margin-top: 5px;
    margin-left: 13px;
    gap: 15px;
    font-size: 15px;
    font-weight: 700;
    color: #000;
  }
  
  .all-icons {
    display: flex;
    align-items: center;
    gap: 23px;
    padding-right: 26px;
  }
  
  .icon-delete {
    font-size: 25px;
    cursor: pointer;
  }
  
  .stat-icon {
    font-size: 25px;
    cursor: pointer;
  }
  
  .down-icon {
    font-size: 25px;
    cursor: pointer;
  }
  
  .copy-icon {
    font-size: 25px;
    cursor: pointer;
  }
  
  .tooltip {
    position: relative;
    padding: 6px 9px;
    font-size: 13px;
    background-color: #333;
    transform: translateX(-50%);
    border-radius: 5px;
    z-index: 999;
    color: #fff;
  }
  
  .down-icon:hover .tooltip {
    display: block;
  }
  
  .export-tooltip {
    position: absolute;
    top: -17px;
    right: 30px;
  }
  
  .stat-tooltip {
    position: absolute;
    top: -17px;
    right: 61px;
  }
  
  .copied-tooltip {
    position: absolute;
    top: -17px;
    right: -43px;
  }
  
  .text-tooltip {
     position: absolute;
     top: -17px;
     right: -34px;
  }
  
  .delete-tooltip {
    position: absolute;
    top: -388px;
    right: -66px;
  }
  
  .upload-tooltip {
    position: absolute;
    bottom: 118px;
    right: -28px;
  }
  
  .statistics-slider {
    position: fixed;
    top: 0;
    right: -300px;
    width: 320px;
    height: 49%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 999;
    padding: 8px 0px;
    transition: right 0.3s ease;
  }
  
  .statistics-slider.show {
    right: 0px;
  }
  
  .statistics-slider h2 {
    padding-left: 14px;
    font-size: 22px;
    font-weight: 600;
    color: #000000;
  }
  
  .statistics-slider .stat-text {
    margin-top: 20px;
    padding: 6px 13px;
  }
  
  .statistics-slider .stat-text h4 {
    font-size: 15px;
  }
  
  .statistics-slider span {
    font-size: 25px;
    padding-right: 18px;
    margin-top: -4px;
    float: right;
    cursor: pointer;
  }
  
  .statistics-slider .word-sec {
    display: flex;
    align-items: center;
    padding-left: 14px;
    background-color: #ccc;
    border-radius: 12px;
    margin-bottom: 10px;
  }
  
  .statistics-slider .sent-sec {
    display: flex;
    align-items: center;
    padding-left: 14px;
    background-color: #ccc;
    border-radius: 12px;
    margin-bottom: 10px;
  }
  
  .statistics-slider .percent {
    display: flex;
    align-items: center;
    padding-left: 14px;
    background-color: #ccc;
    border-radius: 12px;
  }
  
  .stat-text .word-sec .arrow {
    padding: 0px 9px;
    font-size: 15px;
    color: gray;
  }
  
  .stat-text .sent-sec .arrow {
    padding: 0px 9px;
    font-size: 15px;
    color: gray;
  }
  
  .stat-text .word-sec .Lnum-word { 
    padding-left: 46px;
    padding-right: 0px;
    font-size: 18px;
    font-weight: 600;
    color: var(--orange);
  }
  
  .stat-text .word-sec .Rnum-word {
    padding-left: 0px;
    font-size: 18px;
    font-weight: 600;
    color: var(--orange);
  }
  
  .stat-text .sent-sec .Lnum-sent {
    padding-left: 25px;
    padding-right: 4px;
    font-size: 18px;
    font-weight: 600;
    color: var(--orange);
  }
  
  .stat-text .sent-sec .Rnum-sent {
    padding-left: 2px;
    font-size: 18px;
    font-weight: 600;
    color: var(--orange);
  }
  
  .stat-text .percent .per {
    padding-left: 65px;
    font-size: 18px;
    font-weight: 600;
    color: var(--orange);
  }
  
  .keywords-container {
    width: 476px;
    height: 118px;
    position: relative;
    top: -119px;
    margin-left: 1px;
    padding-left: 6px;
    background-color: #fff;
  }
  
  .keywords .key-head h4 {
    margin-top: 8px;
    margin-left: 8px;
    font-size: 16px;
  }
  
  .keywords .key-head .clear-all-btn {
    margin-top: 4px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .keywords .key-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .keywords button {
    padding: 9px 16px;
    margin-left: 4px;
    border: 1px solid #333;
    border-radius: 20px;
    font-size: 13px;
    cursor: pointer;
  }
  
  .keywords .btn {
    margin-top: -4px;
  }
  
  .keywords button.selected {
    background-color: var(--orange);
    border: 1px solid var(--orange);
    color: #fff;
  }
  
  .keywords .word-sent {
    margin-top: -20px;
  }
  
  .text-container p {
    margin-bottom: 124px;
    padding-left: 8px;
  }
  
  .right-side #right-side-text {
     margin-bottom: 62px;
     padding-left: 8px;
  }
  
  .right-side .keyword-summary {
      margin-top: -54px;
      padding-left: 2px;
  } 
  
   .bullpoints-word-sent {
      position: relative;
      top: -55px;
      display: inline-block;
      width: 483px;
      height: 54px;
      margin-left: 1px;
      background-color: #fff;
  }
  
   .bullpoints-word-sent .word-sent {
      display: flex;
      justify-content: flex-start;
      text-align: center;
      gap: 17px;
      padding-top: 4px;
      padding-left: 20px;
      font-size: 14px;
      font-weight: 700;
      color: #000;
  }
  